.navbar{
    border-radius: 0px !important;
}
.navbar-brand{
    margin-bottom: 0;
}
.foot{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form{
    width: 400px;
    margin: 0 auto;
}

.nav-pagination {
    text-align: center;
    clear: both;
}


