{% extends 'base.html' %}
{% from "macros.html" import render_form %}
{% block title %}添加职位标签|城市|薪资范围{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">添加职位标签</a></li>
</ul>

<div class="form">
    {{ render_form(tagform, url_for('job.addtag'),'') }}
</div>

<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">添加工作城市</a></li>
</ul>

<div class="form">
        {{ render_form(cityform, url_for('job.addtag'),'') }}
</div>

<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">添加薪资范围</a></li>
</ul>

<div class="form">
    {{ render_form(salaryform, url_for('job.addtag'),'') }}
</div>



{% endblock %}
