{% extends "base.html" %}


{% block head_js %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
{% endblock %}


{% block body %}
<div><p>职位过滤</p></div>
    <ul>
        {% for job in jobs %}
        <li>
            <ul>
                <li>{{job.name }}</li>{{ moment(now).fromTime(job.updated_at, refresh=True) }}

                <li>{{ job.requirements }}</li>
                <li>
                    {% for tag in job.tags %}
                        {{ tag.name }}
                    {% endfor %}
                </li>
                <li>{{ job.salary_range }}</li>
                <li>
                    {% for city in job.cities %}
                        {{ city.name }}
                    {% endfor %}
                </li>
                <li>{{ job.company.name }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
