{% extends 'base.html' %}
{% from "macros.html" import render_form %}
{% block title %}修改职位标签|城市|薪资范围{% endblock %}

{% block body %}
{% if tagform %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">修改职位标签</a></li>
</ul>
<div class="form">
    {{ render_form(tagform, url,'') }}
</div>
{% endif %}

{% if cityform %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">修改工作城市</a></li>
</ul>
<div class="form">
        {{ render_form(cityform, url,'') }}
</div>
{% endif %}

{% if salaryform %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">修改薪资范围</a></li>
</ul>
<div class="form">
    {{ render_form(salaryform, url,'') }}
</div>
{% endif %}



{% endblock %}
