{% extends "base.html" %}

{% block title %}上传简历{% endblock %}

{% block body %}
<caption><h3>请上传简历</h3></caption>
<form role="form", method="POST" action="{{ url_for('hunter.addresume') }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">简历名称</label>
        <input type="text" class="form-control" id="name" placeholder="请输入简历名称" name="name">
    </div>
    <div class="form-group">
        <label for="inputfile">文件输入</label>
        <input type="file" id="inputfile", name="file">

    </div>

    <button type="submit" class="btn btn-default btn-primary">提交</button>
</form>
{% endblock %}