<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block head_css %}
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/923/week7/code/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    {% endblock %}

    {% block head_js %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">

            <!-- 闪现实现-->
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category, msg in msgs %}
                        <div class='alert alert-{{category}} alert-dismissible' role='alert'>
                            <button type='button' class='close' data-dismiss='alert' aria-label
='Close'><span aria-hidden='true'>&times;</span></button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--闪现实现结束-->


            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="{{ url_for('front.index') }}"></q><p class="navbar-brand">JobPlus</p></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">



                    <li id='homepage'><a href="{{ url_for('front.index') }}">首页</a></li>
                    <li id='jobs'><a href="{{ url_for('job.index') }}">职位<span class="sr-only">(current)</span></a></li>
                    <li id='companies'><a href="{{ url_for('company.index') }}">公司</a></li>
                    {% if current_user.is_authenticated and current_user.is_company  %}
                    <li><a href="{{ url_for('company.admin') }}">管理</a></li>
                    {% endif %}


                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if not current_user.is_authenticated %}



                    <li id='user_register'><a href="{{ url_for('front.user_register') }}">用户注册</a></li>
                    <li id='company_register'><a href="{{ url_for('front.company_register') }}">企业注册</a></li>



                    <li id='login'><a href="{{ url_for('front.login') }}">登录</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span id="username">{{ current_user.username }}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('front.logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    {% block bigimage %}{% endblock%}
    <div class="container">

        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
    <hr>
    <div class="foot">
        Copyright 2018 by 实验楼
    </div>
    {% block tail_js %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="http://labfile.oss.aliyuncs.com/courses/923/week7/code/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
