{% extends "base.html" %}
{% from "macros.html" import job_item,company_item %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='front.css') }}">
{% endblock %}
{% block bigimage %}
<div class="jumbotron">
    <div class="container">
        <h1>JOBPLUS</h1>
        <p>领先的互联网求职、招聘平台</p>
    </div>
</div>
{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">最新职位</a></li>
</ul>
<div class="row">
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
    {{ job_item() }}
</div>
<div class="more">
    <a href="#" class="btn btn-default btn-lg" role="button">查看更多</a>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">最新公司</a></li>
</ul>
<div class="row">
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
    {{ company_item() }}
</div>
<div class="more">
    <a href="#" class="btn btn-default btn-lg" role="button">查看更多</a>
</div>
{% endblock %}