{% macro job_item(job) %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <div class="mb-small">
                <h3 class="job-title">{{ job.name | default('Python高级工程师', true) }}</h3>
                <!-- p class="job-time">[1月前]</p -->
                <p class="job-time">[{{ moment().fromTime(job.updated_at, refresh=True) }}]</p>
            </div>
            <div class="mb-small">
            {% for tag in job.tags %}
                <span class="job-exp">{{ tag.name| default('不限', true) }}</span>
            {% endfor %}
                <!-- span class="job-edu">学历不限</span -->
            </div>
            <div class="jobtags">
            {% for city in job.cities %}
                <span class="label label-default">{{ city.name | default('北京', true) }}</span>
                <!-- span class="label label-default">北京</span -->
            {% endfor %}
            </div>
        </div>
        <hr>
        <div class="job-b">
            <div class="job-lb">
                <img src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png"
                    alt="...">
            </div>
            <div class="job-rb">
                <p class="job-cname">{{ job.company.name | default('实验楼', true) }}</p>
                <p class='job-cinfo'>在线教育/A轮/成都高新区</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro company_item() %}
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="company">
            <img src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png"
                alt="...">
            <h3>实验楼</h3>
        </div>
        <hr>
        <p class="job-num">在招职位：0</p>
    </div>
</div>
{% endmacro %}

{% macro render_form(form,url,type) %}
<form action="{{ url }}" method="POST">
    {{ form.csrf_token }}
    {% for field in form %}
    {% if field.type == 'CSRFTokenField' %}
    {{ '' }}
    {% elif field.type == 'SubmitField' %}

    <!--此处添加部分是为了处理/job/creatatag页面-->
        {% if field.name == 'tag_submit' %}
            {{ form.tag_submit(class='btn btn-primary', type='submit') }}
        {% elif field.name == 'city_submit' %}
            {{ form.city_submit(class='btn btn-primary', type='submit') }}
        {% elif field.name == 'salary_submit' %}
            {{ form.salary_submit(class='btn btn-primary', type='submit') }}
        {% else %}
            {{ form.submit(class='btn btn-primary', type='submit') }}
        {% endif %}
    <!--结束-->

    {% elif field.type == 'BooleanField' %}
    <div class="checkbox">
      <label>{{ field() }} {{ field.label.text }}</label>
    </div>
    {% else %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {{ field.label }} {{ field(class='form-control') }}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>

    {% endif %}
    {% endfor %}
</form>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<nav class="nav-pagination" aria-label="Page navigation">
    <ul class="pagination">
        <!-- 链接到上一页的左箭头(&laquo;), 如果没有上一页设为disable状态 -->
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}><a href="{{ url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#' }}">&laquo;</a></li>
        <!-- 渲染到每个页数的按钮 -->
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                {% else %}
                <!-- 如果页数是当前页, 设置为选中状态 -->
                <li class="active"><a href="#">{{page}}<span class="sr-only">(current)</span></a></li>
                {% endif %}
            {% else %}
                <li><span class="ellipsis">...</span></li>
            {% endif %}
        {% endfor %}
        <!-- 链接到下一页的右箭头(&raquo;), 如果没有下一页设置为disable状态 -->
        <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{ url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#' }}">&raquo;</a></li>
    </ul>
</nav>
{% endmacro %}
