{% macro job_item() %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <div class="mb-small">
                <h3 class="job-title">Python高级工程师</h3>
                <p class="job-time">[1月前]</p>
            </div>
            <div class="mb-small">
                <span class="job-exp">经验不限</span>
                <span class="job-edu">学历不限</span>
            </div>
            <div class="jobtags">
                <span class="label label-default">高薪</span>
                <span class="label label-default">北京</span>
            </div>
        </div>
        <hr>
        <div class="job-b">
            <div class="job-lb">
                <img src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png"
                    alt="...">
            </div>
            <div class="job-rb">
                <p class="job-cname">实验楼</p>
                <p class='job-cinfo'>在线教育/A轮/成都高新区</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro company_item() %}
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="company">
            <img src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png"
                alt="...">
            <h3>实验楼</h3>
        </div>
        <hr>
        <p class="job-num">在招职位：0</p>
    </div>
</div>
{% endmacro %}