{% extends "base.html" %}

{% block title %} 职位管理 {% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-3">
    <h4>公司管理</h4>
    <div class="list-group">
      <a href="/company/176/admin" class="list-group-item">职位管理</a>
      <a href="/company/176/admin/apply" class="list-group-item">投递管理</a>
    </div>


<a href="/company/176/admin/publish_job/" type="button" class="btn btn-success btn-admin">发布职位</a>

  </div>
  <div class="col-md-9">

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位名称</th>
      <th>企业名称</th>
      <th>发布时间</th>
      <th>状态</th>
    </tr>
    </thead><tbody>

    </tbody>

</table>

  </div>
</div>

{% endblock %}
