{% extends "base.html" %}

{% block title %} 公司管理 {% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-3">
    <h4>公司管理</h4>
    <div class="list-group">
      <a href= "{{ url_for('company.admin') }}" class="list-group-item">职位管理</a>
      <a href= "{{ url_for('job.addtag') }}" class="list-group-item">职位属性管理</a>
      <a href="#" class="list-group-item">投递管理</a>
    </div>


<a href="{{ url_for( 'company.addjob') }}" type="button" class="btn btn-success btn-admin">发布职位</a>

  </div>
  <div class="col-md-9">

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位名称</th>
      <th>企业名称</th>
      <th>发布时间</th>
      <th>状态</th>
    </tr>
    </thead>
  <tbody>
  {% for job in jobs %}
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.name }}</td>
          <td>{{ job.company.name }}</td>
          <td>{{ job.updated_at}} </td>
          <td>
            <div class="btn-group" role="group">

              <a href="#" type="button" class="btn btn-default">
                下线
              </a>

              <a href="{{ url_for('company.updatejob', jobid=job.id) }}" type="button" class="btn btn-default">
                编辑
              </a>
              <a href="{{ url_for('company.rmjob', jobid=job.id) }}" type="button" class="btn btn-default">
                删除
              </a>
            </div>
          </td>
        </tr>
    </tbody>
  {% endfor %}
</table>

  </div>
</div>

{% endblock %}
