{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination as pn %}
{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位名称</th>
      <th>企业名称</th>
      <th>发布时间</th>
      <th>状态</th>
    </tr>

    </thead>
  <tbody>
  {% for job in pagination.items %}
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.name }}</td>
          <td>{{ job.company.name }}</td>
          <td>{{ moment(job.updated_at).format('LLL') }} </td>
          <td>
            <div class="btn-group" role="group">
              {% if job.is_online %}
              <a href="{{ url_for('admin.offline', jobid=job.id) }}" type="button" class="btn btn-default">
                下线
              </a>
              {% else %}
              <a href="{{ url_for('admin.online', jobid=job.id) }}" type="button" class="btn btn-default">
                上线
              </a>
              {% endif %}

              <a href="{{ url_for('admin.updatejob', jobid=job.id) }}" type="button" class="btn btn-default">
                编辑
              </a>
              <a href="{{ url_for('admin.rmjob', jobid=job.id) }}" type="button" class="btn btn-default">
                删除
              </a>
            </div>
          </td>
        </tr>
    </tbody>
  {% endfor %}

</table>

{{ pn(pagination, 'admin.jobs') }}

{% endblock%}
