{% extends "admin/index.html" %}
{% block addnew %}<a href="{{url_for('admin.adduser')}}" type="button" class="btn btn-success btn-admin">添加用户</a>{% endblock %}
{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>用户类型</th>
      <th>注册时间</th>
      <th>状态</th>
    </tr>

    </thead>
  <tbody>
  {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          {% if user.is_admin %}
          <td>管理员</td>
          {% elif user.is_company %}
          <td>企业</td>
          {% else %}
          <td>求职者</td>
          {% endif %}
          <td>{{ user.updated_at}} </td>
          <td>
            <div class="btn-group" role="group">

              <a href="#" type="button" class="btn btn-default">
                编辑
              </a>
              {% if not user.is_admin and user.allowed == True %}
              <a href="{{url_for('admin.forbid', user_id=user.id)}}" type="button" class="btn btn-default">
                禁用
              </a>
              {% elif not user.is_admin %}
              <a href="{{url_for('admin.liberate', user_id=user.id)}}" type="button" class="btn btn-default">
                解禁
              </a>
              {% endif %}
              {% if user.is_company %}
              <a href="{{url_for('admin.addjob', user_id=user.id)}}" type="button" class="btn btn-admin">
                +职位
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
    </tbody>
  {% endfor %}

</table>
{% endblock%}
